body { 
  margin: 0;
  font-family:'Segoe UI', sans-serif;
}

.profile {
    padding: 2vw 10vw 2vw 10vw;
    font-size: 4vw;
}

.work {
  padding: 2vw 10vw 2vw 10vw;
  font-size: 3vw;
}

@media (max-width: 1000px) {

}
@media (max-width: 500px) {

}