* {box-sizing: border-box}

body, html {
  height: 100%;
  margin: 0;
  font-family: Inter,Helvetica Neue,Helvetica,sans-serif;
  color: #FFF;
  background-color: #AA9A9D;
}

/* TABS */
.tablink {
  background-color: #4F484F;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 1.7vw;
  width: 25%;
}
.tablink:hover {
  background-color: #777;
  transition: 0.4s;
}
.tabcontent {
  display: none;
  height: 100%;
  text-align: center;
  font-size: 18px;
  padding: 100px 50px;
}
/* HOME */
#home {
  padding-top: 100px;
}
#home a {
  color: #FFF;
}
#home a:hover {
  color:#4F484F;
  text-decoration: none;
  transition: 0.4s;
}
.home-logo img {
  animation-duration: 1s;
  animation-name: slidelogo;
  animation-fill-mode: backwards;
  position: relative;
  padding-top: 30px;
}
@keyframes slidelogo {
  0% {
    top: 150px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
.home-hello {
  animation-duration: 1s;
  animation-name: slidehello;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  font-size: 1.5vw;
}
@keyframes slidehello {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/* NEWS */
#news a {
  color: #fff;
}
#news a:hover {
  color:#4F484F;
  text-decoration: none;
  transition: 0.4s;
}
.news-img-kuji {
  width: 300px;
  border-radius: 26px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-bottom: 50px;
}

/* LINKS */
#links {
  background-color:#AA9A9D;
}
#links a {
  background-color: rgb(234, 234, 234);
  color: #4F484F;
  width: 150px;
  display: inline-block;
  padding: 16px;
  margin: 20px;
  text-decoration: none;
  border-radius: 30px;
}
#links a:hover {
  background-color: #666;
  color: #FFF;
  transition: 0.4s;
}
/* ABOUT */
#about {
  background-color:#AA9A9D;
  color: #FFF;
}
#about img {
  width: 20vw;
  padding-top: 60px;
}
/* MEDIA */
@media screen and (max-width: 1024px) {
  .tablink {font-size: 2.4vw;}
  .home-hello {font-size: 2vw;}
  .home-logo img {width: 25vw;}
  #home img {width: 22vw;}
  #about img {width: 30vw;}
}
@media screen and (max-width: 768px) {
  .tablink {font-size: 3.3vw;}
  .home-hello {font-size: 3vw;}
  .home-logo img {width: 30vw;}
  #home img {width: 30vw;}
  #home {padding: 30px 20px;}
  #about img {width: 40vw;}
  .tablink {
    margin: 0;
    float: none;
    display: block;
    width: 100%;
    text-align: center;
    border-top: 1px solid #AA9A9D;
  }
}