* {box-sizing: border-box}

body, html {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  color: #222;
  background-color:antiquewhite;
}

/* TABS */
.tablink {
  background-color:antiquewhite;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 1.4vw;
  font-weight: bold;
  width: 25%;

}
.tablink:hover {
  color:saddlebrown;
}
.tabcontent {
  display: none;
  height: 100%;
  padding-top: 100px;
}
/* HOME */
#home {
  padding-top: 100px;
  text-align: center;
}
.home__hello {
  animation-duration: 1s;
  animation-name: slidehello;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  font-size: 1.5vw;
}
.home__hello h2 {
  opacity: 0.9;
}
@keyframes slidehello {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.home__logo img {
  width: 15vw;
  animation-duration: 1s;
  animation-name: slidelogo;
  animation-fill-mode: backwards;
  position: relative;
  padding-top: 30px;
}
@keyframes slidelogo {
  0% {
    top: 150px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

/* NEWS */
#news a {
  color: #222;
}
#news a:hover {
  text-decoration: none;
}
.news__row {
  padding-top: 30px;
}
.news__column {
  float: left;
  width: 25%;
  padding: 0 20px;
  text-align: center;
}
.news__column img {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* LINKS */
#links {
  text-align: center;
}
#links a {
  text-decoration: none;
  color: #222;
  font-size: 2vw;
}
#links a:hover {
  color: #666;
}

/* ABOUT */
#about {
  text-align: center;
}
#about img {
  width: 20vw;
  padding-top: 60px;
}

/* MEDIA */
@media screen and (max-width: 1024px) {
  .tablink {font-size: 1.8vw;}
  .home__hello {font-size: 2vw;}
  .home__logo img {width: 25vw;}
  #about img {width: 30vw;}
}
@media screen and (max-width: 768px) {
  .tablink {font-size: 2.8vw; margin: 0; width: 100%;}
  .home__hello {font-size: 2.6vw;}
  .home__logo img {width: 30vw;}
  #home {padding-top: 250px;}
  #links {padding-top: 250px;}
  #links a {font-size: 4vw;}
  #about img {width: 40vw;}
  .tabcontent {padding: 130px 20px;}
  .news__column {width: 100%; padding: 10px;}
  .news__column img {width: 65%;}
}